<!DOCTYPE html5>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sebastian Nagel</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <link rel="icon" href={{ url_for('static', filename='/img/fav/favicon.png') }} type="image/png">
        <link rel="stylesheet" href={{ url_for('static', filename='/css/index.css') }}>
        <link rel="stylesheet" href={{ url_for('static', filename='/css/interaction.css') }}>
    </head>
    <body>
        <div id="switcher">
            <div class="col space-between v-center">
                <div class="content" id="landing-text">
                    <div class="header" style="text-align:center">
                        404
                    </div>
                    <div class="text" style="text-align:center;">
                        I've looked...and there is nothing here! :(
                    </div>
                    <div class="text landing-links">
                        <a href="https://www.snagel.io" class="landing-link">Let's go back!</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>