<!DOCTYPE html5>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TicTacToe served via FastAPI | Sebastian Nagel</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href={{ url_for('static', path='/css/ttt.css') }}>
    </head>
    <body>
        <div class="col center" id="tictactoe">
            <div class="content m">
                <div class="super-header">Have a break, have a...</div>
                <div class="header"><nobr>...Tic Tac Toe</nobr></div>
                <div class="text">The app below was programmed in python using the FastAPI library. It was a quick exercise to learn about APIs, app deployment and the <i>minimax</i> algorithm. You can find the code on my <a href="https://github.com/does-not-compile/tictactoe" target="_blank">GitHub</a>. Have fun playing!</div>
            </div>
            <form class="text" action="" onsubmit="userInput(event, 'none')">
                <input class="ttt_btn" id="chb1" value="&nbsp;" name="chb1" type="button" onclick="userInput(event, 'chb1'); this.disabled=true; this.value='X';">
                <input class="ttt_btn" id="chb2" value="&nbsp;" name="chb2" type="button" onclick="userInput(event, 'chb2'); this.disabled=true; this.value='X';">
                <input class="ttt_btn" id="chb3" value="&nbsp;" name="chb3" type="button" onclick="userInput(event, 'chb3'); this.disabled=true; this.value='X';"><br>
                <input class="ttt_btn" id="chb4" value="&nbsp;" name="chb4" type="button" onclick="userInput(event, 'chb4'); this.disabled=true; this.value='X';">
                <input class="ttt_btn" id="chb5" value="&nbsp;" name="chb5" type="button" onclick="userInput(event, 'chb5'); this.disabled=true; this.value='X';">
                <input class="ttt_btn" id="chb6" value="&nbsp;" name="chb6" type="button" onclick="userInput(event, 'chb6'); this.disabled=true; this.value='X';"><br>
                <input class="ttt_btn" id="chb7" value="&nbsp;" name="chb7" type="button" onclick="userInput(event, 'chb7'); this.disabled=true; this.value='X';">
                <input class="ttt_btn" id="chb8" value="&nbsp;" name="chb8" type="button" onclick="userInput(event, 'chb8'); this.disabled=true; this.value='X';">
                <input class="ttt_btn" id="chb9" value="&nbsp;" name="chb9" type="button" onclick="userInput(event, 'chb9'); this.disabled=true; this.value='X';">
            </form>
            <div class="text">
                <ul id='message'>
                    &nbsp;
                </ul>
            </div>
        </div>
    </body>
    <!-- scripts are cool! -->
    <script>
        var ws = new WebSocket('ws://' + location.host + '/ws');
        ws.onmessage = function(event) {
            if (event.data.length > 5) {
                var message = document.getElementById('message');
                var item = document.createElement('li')
                var content = document.createTextNode(event.data)
                message.innerHTML = ''
                message.appendChild(content)
            } else {
                document.getElementById(event.data).style.background = 'purple';
                document.getElementById(event.data).style.color = 'white';
                document.getElementById(event.data).disabled = true;
                document.getElementById(event.data).value = 'O';
            }
        };
        function userInput(event, name) {
            var input = document.getElementById(name);
            ws.send([input.name, input.checked]);
            input.value = '';
            event.preventDefault();
        };
    </script>
</html>