<!DOCTYPE html5>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sebastian Nagel</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <link rel="icon" href={{ url_for('static', path='/img/fav/favicon.png') }} type="image/png">
        <link rel="stylesheet" href={{ url_for('static', path='/css/index.css') }}>
        <link rel="stylesheet" href={{ url_for('static', path='/css/ttt.css') }}>
        <link rel="stylesheet" href={{ url_for('static', path='/css/interaction.css') }}>
    </head>
    <body>
        <div id="switcher">
            <div class="col space-between v-center">
                <div class="content" id="landing-text">
                    <div class="header" style="text-align:center">
                        Hello World
                    </div>
                    <div class="text" style="text-align:center;">
                        My name is Sebastian and I'm a <nobr>Data Scientist</nobr>
                    </div>
                    <div class="text landing-links">
                        <a href="#aboutme" class="landing-link">About Me</a>
                        <a href="https://github.com/does-not-compile" target="_blank" class="landing-link">Projects</a>
                        <a href="#tictactoe" class="landing-link">Play a game</a>
                        <!-- <label class="switch" id="darkmode">
                            <input type="checkbox" onclick="dm()">
                            <span class="slider">
                                <span class="text" id="d"></span>
                                <span class="text" id="n"></span>
                            </span>
                        </label> -->
                    </div>
                </div>
                <div class="content" id="landing-image" style="padding: 0;">
                    <img alt="Sebastian Nagel" src={{ url_for('static', path='/img/sebastian.png') }} />
                </div>
            </div>
            <div class="col center" id="aboutme" style="background-color:#000;color:#fff">
                <div class="content m">
                    <div class="super-header">
                        from in vitro to in silico
                    </div>
                    <div class="header">
                        Professional history
                    </div>
                    <div class="text">
                        <p>
                            I am a data scientist with a life science background. By training, I am a biomedical research scientist with an MSc in Molecular Medicine: Generating high quality data, analysing it and deriving new hypotheses and building models have always sparked joy in me! However, as I felt myself gravitating more and more towards the statistical part of research, I realized I had stumbled into data science!
                        </p>
                        <p>
                            I capitalized on that momentum and studied the math and statistics underlying Data Analytics and Machine Learning. In doing so, I was awarded several certificates (Google Data Analytics Professional, IBM Machine Learning Professional) with others still ongoing.
                        </p>
                        <p>
                            To also get exposure in the field, I started working as a freelancer, providing backoffice- and customer success services for the development of an AI-backed speech-to-text app.
                        </p>
                        <p>
                            For more details about me, just click the link below!
                        </p>
                        <a href="https://www.linkedin.com/in/sebastiannagel1991" id="about-me-li" target="_blank" style="padding: 6 12 10 12">LinkedIn</a>
                    </div>
                </div>
            </div>
            <div class="col center" id="tictactoe">
                <div class="content m">
                    <div class="super-header">Have a break, have a...</div>
                    <div class="header"><nobr>...Tic Tac Toe</nobr></div>
                    <div class="text">The app below was programmed in python using the FastAPI library. It was a quick exercise to learn about APIs, app deployment and the <i>minimax</i> algorithm. You can find the code on my <a href="https://github.com/does-not-compile/streamlit-tictactoe" target="_blank">GitHub</a>. Have fun playing!</div>
                </div>
                <form class="text" action="" onsubmit="userInput(event, 'none')">
                    <input class="ttt_btn" id="chb1" value="&nbsp;" name="chb1" type="button" onclick="userInput(event, 'chb1'); this.disabled=true; this.value='X';">
                    <input class="ttt_btn" id="chb2" value="&nbsp;" name="chb2" type="button" onclick="userInput(event, 'chb2'); this.disabled=true; this.value='X';">
                    <input class="ttt_btn" id="chb3" value="&nbsp;" name="chb3" type="button" onclick="userInput(event, 'chb3'); this.disabled=true; this.value='X';"><br>
                    <input class="ttt_btn" id="chb4" value="&nbsp;" name="chb4" type="button" onclick="userInput(event, 'chb4'); this.disabled=true; this.value='X';">
                    <input class="ttt_btn" id="chb5" value="&nbsp;" name="chb5" type="button" onclick="userInput(event, 'chb5'); this.disabled=true; this.value='X';">
                    <input class="ttt_btn" id="chb6" value="&nbsp;" name="chb6" type="button" onclick="userInput(event, 'chb6'); this.disabled=true; this.value='X';"><br>
                    <input class="ttt_btn" id="chb7" value="&nbsp;" name="chb7" type="button" onclick="userInput(event, 'chb7'); this.disabled=true; this.value='X';">
                    <input class="ttt_btn" id="chb8" value="&nbsp;" name="chb8" type="button" onclick="userInput(event, 'chb8'); this.disabled=true; this.value='X';">
                    <input class="ttt_btn" id="chb9" value="&nbsp;" name="chb9" type="button" onclick="userInput(event, 'chb9'); this.disabled=true; this.value='X';">
                </form>
                <div class="text">
                    <ul id='message'>
                        &nbsp;
                    </ul>
                </div>
            </div>
        </div>
    </body>
    <!-- scripts are cool! -->
    <script>
        var ws = new WebSocket('ws://' + location.host + '/ws');
        ws.onmessage = function(event) {
            if (event.data.length > 5) {
                var message = document.getElementById('message');
                var item = document.createElement('li')
                var content = document.createTextNode(event.data)
                message.innerHTML = ''
                message.appendChild(content)
            } else {
                document.getElementById(event.data).style.background = 'purple';
                document.getElementById(event.data).style.color = 'white';
                document.getElementById(event.data).disabled = true;
                document.getElementById(event.data).value = 'O';
            }
        };
        function userInput(event, name) {
            var input = document.getElementById(name);
            ws.send([input.name, input.checked]);
            input.value = '';
            event.preventDefault();
        };
    </script>
</html>