<!DOCTYPE html5>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TicTacToe served via Flask | Sebastian Nagel</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href={{ url_for('static', filename='/css/ttt.css') }}>
    </head>
    <body>
        <div class="col center fw" id="tictactoe">
            <div class="content m">
                <div class="super-header">Have a break, have a...</div>
                <div class="header"><nobr>...Tic Tac Toe</nobr></div>
                <div class="text">The app below was programmed in python and deployed using Flask. It was a quick exercise to learn about APIs, app deployment and the <i>minimax</i> algorithm. You can find the code on my <a href="https://github.com/does-not-compile/tictactoe" target="_blank">GitHub</a>. Have fun playing!</div>
            </div>
            <iframe src="{{ url_for('ttt') }}" style="border: none; flex-grow: 1; margin: none; padding: 0;" width="100%">
                Loading TicTacToe...
            </iframe>
            </div>
        </div>
    </body>
</html>