<!DOCTYPE html5>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TicTacToe served via Flask | Sebastian Nagel</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href={{ url_for('static', filename='/css/ttt.css') }}>
    </head>
    <body>
        <div class="col center" id="tictactoe">
            <div class="content m">
                <div class="super-header">Have a break, have a...</div>
                <div class="header"><nobr>...Tic Tac Toe</nobr></div>
                <div class="text">The app below was programmed in python using the Flask library. It was a quick exercise to learn about APIs, app deployment and the <i>minimax</i> algorithm. You can find the code on my <a href="https://github.com/does-not-compile/streamlit-tictactoe" target="_blank">GitHub</a>. Have fun playing!</div>
            </div>
            <form id="ttt" class="text" action="" onsubmit="userInput(event)">
                <input class="ttt_btn" id="btn1" value="&nbsp;" name="btn1" type="button" onclick="userInput(event, 'btn1'); this.disabled=true; this.value='X';">
                <input class="ttt_btn" id="btn2" value="&nbsp;" name="btn2" type="button" onclick="userInput(event, 'btn2'); this.disabled=true; this.value='X';">
                <input class="ttt_btn" id="btn3" value="&nbsp;" name="btn3" type="button" onclick="userInput(event, 'btn3'); this.disabled=true; this.value='X';"><br>
                <input class="ttt_btn" id="btn4" value="&nbsp;" name="btn4" type="button" onclick="userInput(event, 'btn4'); this.disabled=true; this.value='X';">
                <input class="ttt_btn" id="btn5" value="&nbsp;" name="btn5" type="button" onclick="userInput(event, 'btn5'); this.disabled=true; this.value='X';">
                <input class="ttt_btn" id="btn6" value="&nbsp;" name="btn6" type="button" onclick="userInput(event, 'btn6'); this.disabled=true; this.value='X';"><br>
                <input class="ttt_btn" id="btn7" value="&nbsp;" name="btn7" type="button" onclick="userInput(event, 'btn7'); this.disabled=true; this.value='X';">
                <input class="ttt_btn" id="btn8" value="&nbsp;" name="btn8" type="button" onclick="userInput(event, 'btn8'); this.disabled=true; this.value='X';">
                <input class="ttt_btn" id="btn9" value="&nbsp;" name="btn9" type="button" onclick="userInput(event, 'btn9'); this.disabled=true; this.value='X';">
            </form>
            <div class="text">
                <ul id='message'>
                    &nbsp;
                </ul>
            </div>
        </div>
    </body>
    <script>
        const socket = new WebSocket('ws://' + location.host + '/ws');
        socket.addEventListener('message', event => {
            if (event.data.length > 5) {
                var message = document.getElementById('message');
                var item = document.createElement('li')
                var content = document.createTextNode(event.data)
                message.innerHTML = ''
                message.appendChild(content)
            } else {
                document.getElementById(event.data).style.background = 'purple';
                document.getElementById(event.data).style.color = 'white';
                document.getElementById(event.data).disabled = true;
                document.getElementById(event.data).value = 'O';
            }
        });
        function userInput(event, msg) {
            socket.send(msg);
        };
    </script>
</html>