/* ### colors  ### */
$primarycolor: #0a3aff; //#2a7bff; // #6464ff;
$secondarycolor: #000000;
$tertiarycolor: #5c00e9; //#2a5bff; //#f3410b;
$blurrycolor: #ECF1F524;
$linkdefaultcolor: #000000;
$linkhovercolor: $primarycolor;
$heartcolor: $primarycolor;
$linkedincolor: #2867B2;
$twittercolor: #00ACED;
/* ### parameters ### */
$border-radius: 5px;

/* ### responsive design mixin ### */
@mixin breakpoint($point) {
    @if $point == desktop {
      @media (min-width: 1201px) { @content ; }
   }
    @else if $point == laptop {
      @media (min-width: 1025px) { @content ; }
   }
     @else if $point == tablet {
      @media (min-width: 769px) { @content ; }
   }
    @else if $point == phablet {
      @media (min-width: 481px)  { @content ; }
   }
   @else if $point == mobileonly {
      @media (max-width: 480px)  { @content ; }
 
   }
 }

/* ### general ### */
:root {
    font-size: 16px;

    @include breakpoint(mobileonly) {
        font-size: 12px
    }
}

*, *::before ,*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

// // ##### DARKMODE SWITCHER AND CLASS #####

// #switcher {
//     transition: all 0.25s linear;
// }

// .dm {
//     background-color: #000; 
//     color: #fff;
// }

body { 
    position: relative;
    font-family: 'SF Pro Text', 'SF Pro Icon', 'Myriad Pro', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 200;
    margin: 0;
}

a {
    text-decoration: none;
    color: $primarycolor;
    transition: text-decoration 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.flex {
    display: flex;
    width: 100vw;
    height: 100vh;
    min-height: fit-content;
}

.row {
    @extend .flex;
    flex-direction: row;

    @include breakpoint(mobileonly) {
        flex-direction: column;
    }
}

.col {
    @extend .flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.content {
    align-items: center;
    line-height: 1.5;
    padding: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    hyphens: auto;

    @include breakpoint(mobileonly) {
        hyphens: none;
    }
}

.super-header {
    font-size: 1.3rem;
    font-weight: 400;
    color: $primarycolor;
    line-height: 1.2;  
}

.header {
    position: relative;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1;
    padding: 0 0 11px 0;
}

.text {
    font-size: 1.3rem;
    font-weight: 200;
    line-height: 1.5;
}

#about-me-li { /* contact me link */
    font-weight: 400;
    color: $primarycolor;
    border: 1px solid $primarycolor;
    border-radius: $border-radius;
    transition: all 0.25s ease-in-out;
    background: linear-gradient(to left, transparent 50%, $primarycolor 50%) right;
    background-size: 200%;
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#about-me-li:hover {
    color: #fff;
    background-position: left;
    
}

/* overwrite general a::before of menu/navigation */
#about-me-li::before {
    content: '';
}

/* ### Modifikatoren ### */
.center {
    align-items: center;
    justify-content: center;
}

.v-center {
    align-items: center;
}

.h-center {
    justify-content: center;
}

.spacer {
    width: 10%;
}

.blurry {
    background: $blurrycolor;
    mix-blend-mode: normal;
    backdrop-filter: blur(20px);
}

.s {
    width: 30%;

    @include breakpoint(mobileonly) {
        width: 100vw;
    }
}

.m {
    width: 50%;
    @include breakpoint(mobileonly) {
        width: 100vw;
    }
}

.l {
    width: 75%;

    @include breakpoint(mobileonly) {
        width: 100vw;;
    }
}

.fw {
    width: 100vw;
}

.fh {
    height: 100vh;
}

/* ### landing page ### */

#landing-text {
    @include breakpoint(mobileonly) {
        align-items: space-around;
        padding: 10rem 0 0 0;
    }
}

.landing-links {
    /* extends text class */
    text-align: center;
    padding-top: 11px;

    a {
        padding: 0 1.0rem;

        @include breakpoint(mobileonly) {
            display: block;
            margin: 1rem;
            padding: 1.0rem;
        }
    }

    .landing-link:hover {
        text-decoration: underline;

        @include breakpoint(mobileonly) {
            text-decoration: none;
        }
    }

    .landing-link::after {
        display: inline-block;
        margin: 0 0 0 0.3em;
        content: ">";
        color: inherit;
        font-weight: inherit;
        font-size: inherit;
        line-height: 1;
        text-decoration: none;

        @include breakpoint(mobileonly) {
            content: "";
        }
    }
}

#landing-image {
    img {
        width: 100%;
    }
}